<html>
    <head>
        <meta charset="utf-8">
        <title>VueJs learning</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app-one">
            <h1>App one</h1>
            <!-- call out component -->
            <greeting></greeting>
        </div>

        <div id="vue-app-two">
            <h1>App two</h1>
            <greeting></greeting>
        </div>



        <script src="app.js"></script>
    </body>
</html>